/* **************************** */
/* GRIDS */
/* **************************** */

#container
{
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "i d"
    ;

    height: 100%;
}

#container__izquierda
{
    grid-area: i;

    display: grid;

    grid-template-columns: calcularrem(30px) minmax(450px, 600px); //100%;
    grid-template-rows: calcularrem(21px) calcularrem(85px) calcularrem(50px) auto;
    grid-template-areas:
    ". ."
    ". h"
    ". ."
    ". m"
    
    ;

    height: 90%;
    width: 80%;


}

#container__derecha {
    grid-area: d;

    @include backgroundimage(
        "../assets/img/desktop/perro_pug.webp",
        center,
        cover,
        no-repeat
    );

}

.header
{
    grid-area: h;
}

.main
{
    grid-area: m;

    justify-self: flex-start;
    align-self: center;
}



