-
    const datasite = {
        "site": 
        {
            "title-general": "PRACTICA para el 1º CONTROL DEL MÓDULO 2",
            "author": "Toni Ferra",
            "meta": 
            {
                "charset": "utf-8",
                "manifest": "site.webmanifest",
                "appleicon": "icon.png",
                "favicon": "favicon.ico",
                "default-language": "es",
                "theme-color": "#fafafa",
                "description-general": "Web relacionada con toda la informacion sobre el perro pug",
                "keywords-general": "perro carlino, perro pug, simpatico pug",
                "url-general": "https://www.ejemplo.com",
            },
            //- tienen que coincidir pages y titles y seo-general
            "pages": ["index"],
            "titles":
            {
                "index": "PRACTICA para el 1º CONTROL DEL MÓDULO 2",
            },
            "seo-general": 
            {

                "index":
                {
                    "description": "Lorem ipsum dolor sit amit.",
                    "keywords": "lorem, ipsum, dolor, sit, amit",
                    "url": "https://www.ejemplo.com"
                },
                
            },
            "seo-social":
            {
                "generico":
                {
                    "og": 
                    {
                        "title": "Lorem Ipsum general",
                        "type": "tipo general",
                        "url": "http://www.ejemplogeneral.com",
                        "image": "imagen general ejemplo"
                    }
                    

                },
                "index":
                {
                    "og": 
                    {
                        "title": "Lorem Ipsum index",
                        "type": "tipo del index",
                        "url": "http://www.ejemploindex.com",
                        "image": "imagen del index ejemplo"
                    }

                }
            },
            

        },
        "listadoheader": 
        {
            "logo": 
            {
                "href": "#",
                "aclassname": "header__link",
                "ulclassname": "link__listadoheader",
                
                "elementos": 
                [
                    {
                        "tipo": "img",
                        "img": "./assets/img/svg/cabezaperro.svg",
                        "alt": "Logo con una cabeza perro",
                        "classname": "elemento__imagen",
                        "liclassname": "listadoheader__elemento",
                    },
                    {
                        "tipo": "titulo",
                        "displayName": "Dogcall",
                        "classname": "elemento__nombreempresa",
                        "liclassname": "listadoheader__elemento",
                    }
                ]
            },
        },
        "listadomain":
        {
            "ulclassname": "main__listado",
            
            "elementos":
            [
                
                {
                    "tipo": "titulo",
                    "displayName": "ADOPTA",
                    "classname": "elemento__titulo",
                    "liclassname": "listado__elemento",
                },
                
                {
                    "tipo": "parrafo",
                    "displayName": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vitae velit sed viverra elementum aliquet. Quis quam id suscipit sapien. Enim orci, scelerisque lectus eros. Euismod est pulvinar pretium tincidunt est tempus. Mauris quam lectus auctor adipiscing. Eget lorem egestas urna, est porttitor. Sed adipiscing quis pellentesque nunc. Enim amet eu eu, consectetur nisi. Purus eu, pulvinar justo, metus. Sit nunc aliquet eget arcu odio ultrices mauris mi. Vestibulum consectetur id id purus viverra. Faucibus nisl, consectetur eu viverra at. Lorem sit pretium facilisis sed tincidunt. Et pharetra quam sed facilisis erat turpis lobortis egestas. Nisl venenatis integer tincidunt sit tellus at ac. Scelerisque platea in dictum id nisl senectus non habitant. Blandit tincidunt id et ultricies ac fermentum. In ut sapien metus convallis velit. Quisque ullamcorper.",
                    "classname": "elemento__parrafo",
                    "liclassname": "listado__elemento",
                },
                
                {
                    "tipo": "boton",
                    "displayName": "¡YA!",
                    "classname": "elemento__boton",
                    "liclassname": "listado__elemento-boton",
                }

            ]
        }

        

    };


-const anyoactual = new Date().getFullYear();