/* **************************** */
/* IMPORTAR PARCIALES PARA COMPILAR */
/* **************************** */
/* **************************** */
/* FUNCTIONS */
/* **************************** */
/* **************************** */
/* MIXINS */
/* **************************** */
/* **************************** */
/* VARIABLES */
/* **************************** */
/* **************************** */
/* TIPOGRAFIA */
/* **************************** */
@font-face {
  font-family: "arialblack";
  font-weight: normal;
  font-style: normal;
  src: url("../assets/font/arial-black.woff2") format("woff2"), url("../assets/font/arial-black.woff") format("woff");
}
@font-face {
  font-family: "arialregular";
  font-weight: normal;
  font-style: normal;
  src: url("../assets/font/arial-regular.woff2") format("woff2"), url("../assets/font/arial-regular.woff") format("woff");
}
body {
  font-family: "arialregular";
  font-size: 16px;
}

.elemento__nombreempresa {
  font-size: 1.5rem;
  font-weight: 900;
}
.elemento__titulo {
  font-family: "arialblack";
  font-size: 2.25rem;
  font-weight: 900;
}
.elemento__parrafo {
  font-size: 0.9375rem;
  font-weight: 700;
  text-align: left;
  line-height: 140%;
}
.elemento__boton {
  font-size: 1.5rem;
  font-weight: 900;
  line-height: 2.0625rem;
  font-family: "arialblack";
}

/* **************************** */
/* BOTONES */
/* **************************** */
/* **************************** */
/* DROPDOWNS */
/* **************************** */
/* **************************** */
/* SLIDERS */
/* **************************** */
/* **************************** */
/* HEADER */
/* **************************** */
/* **************************** */
/* FOOTER */
/* **************************** */
/* **************************** */
/* FORMS */
/* **************************** */
/* **************************** */
/* GRIDS */
/* **************************** */
#container {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  grid-template-rows: 1fr;
  grid-template-areas: "i d";
  height: 100%;
}

#container__izquierda {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: i;
  display: grid;
  grid-template-columns: 1.875rem minmax(450px, 600px);
  grid-template-rows: 1.3125rem 5.3125rem 3.125rem auto;
  grid-template-areas: ". ." ". h" ". ." ". m";
  height: 90%;
  width: 80%;
}

#container__derecha {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: d;
  background-image: url("../assets/img/desktop/perro_pug.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

.header {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: h;
}

.main {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  grid-area: m;
  justify-self: flex-start;
  align-self: center;
}

/* **************************** */
/* SIDEBARS */
/* **************************** */
/* **************************** */
/* NAVIGATOR */
/* **************************** */
/* **************************** */
/* INDEX */
/* **************************** */
body {
  background-color: #edb84f;
  color: #e8e8e8;
  width: 100vw;
  height: 100vh;
}

.main__listado {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.625rem;
}

.link__listadoheader {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  gap: 0.3125rem;
}

.elemento__nombreempresa, .elemento__titulo {
  color: white;
}

.listado__elemento-boton {
  align-self: flex-end;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.elemento__boton {
  background: #be2424;
  border-radius: 0.625rem;
  padding: 0.625rem 0.9375rem;
}

/* **************************** */
/* CONTACTO */
/* **************************** */
/* **************************** */
/* GALERIA */
/* **************************** */
/* **************************** */
/* BLOG */
/* **************************** */
/* **************************** */
/* PRODUCTOS */
/* **************************** */