/* **************************** */
/* TIPOGRAFIA */
/* **************************** */

@include font-face("arialblack", "arial-black");
@include font-face("arialregular", "arial-regular");

body
{
    font-family: $font-primary;
    font-size: $font-size-base;
}



.elemento {
    &__nombreempresa {
        font-size: $font-size-big;
        font-weight: 900;

    }
    
    &__titulo {
        font-family: $font-secondary;
        font-size: $font-size-large;
        font-weight: 900;
    }
    
    &__parrafo {
        
        font-size: $font-size-normal;
        font-weight: 700;
        text-align: left;
        line-height: 140%;
        
    }

    &__boton
    {

        font-size: $font-size-big;
        font-weight: 900;
        line-height: $font-line-height-small;
        font-family: $font-secondary;

    }

    

}
